
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }



/* Celular */

@media all and (max-width: 768px){

}

/* Tablet  */

@media  all  and (min-width: 768px) and (max-width: 992px ){

}

/* Laptop  */

@media  all  and (min-width: 992px) and (max-width: 1200px ){

	

}


/* Desktop */

@media all and (min-width: 1200px){


}