*{text-align: center;}

.blue{
	background-color: #007bff;
	color: white;
}
.check{
	text-decoration: underline;
}
textarea{
	width: 100%;
	height: 150px;
	display: block;
	margin: auto;
}

ol{
	margin-top: 5%;
}

li{
	margin-top: 0%;
}